.titre1{
    color: white;
    background-color: blue;
    text-align: center;
    margin: auto;
    width: 400px;
}
.titre2{
    color: blue;
}
ul{
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}
h1,h2{
    font-family: "comic sans sms" sans-serif;
    
}
h1::first-letter, h2::first-letter{
    text-transform: uppercase;
}

a{
    color: red;
}
a:visited{
    color: maroon;
}
.text7{
    color: blue;
}
table{
    margin: auto;
}